AGENTE SECRETARIO-TELEGRAM.json
{
  "createdAt": "2025-09-09T20:18:03.400Z",
  "updatedAt": "2025-09-10T20:36:19.000Z",
  "id": "QXaBQ1WVHO8UPU0V",
  "name": "AGENTE SECRETARIO-TELEGRAM",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}{{ $json.content.parts[0].text }}",
        "options": {
          "systemMessage": "=Eres el asistente personal de Silvio Alzate. Siempre te hablará Silvio.\n\nLa fecha y hora de hoy es: {{ $now }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        1760,
        768
      ],
      "id": "15a21479-4363-4a2b-9ffe-86b58a539aa8",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.voice.mime_type }}",
                    "rightValue": "=audio/ogg",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "be9dbcd5-0882-4ce9-9822-305865fae492"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "6a0ec742-7f93-4ea1-af39-35d410da1c1a",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Texto"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        704,
        768
      ],
      "id": "23e379f8-e49b-4331-8563-a1fe4096faa4",
      "name": "Switch"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "silvioalzate@gmail.com",
          "mode": "list",
          "cachedResultName": "silvioalzate@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {
          "description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', ``, 'string') }}",
          "sendUpdates": "all",
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1968,
        992
      ],
      "id": "54e1df9c-0099-4103-bd79-d74a9f458d26",
      "name": "Crear evento",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "ReMJGXmApW6SOLH1",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Utiliza esta herramienta para eliminar eventos del calendario.",
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "silvioalzate@gmail.com",
          "mode": "list",
          "cachedResultName": "silvioalzate@gmail.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1824,
        992
      ],
      "id": "fdce1e51-1553-436f-bfa3-85cda9297515",
      "name": "Eliminar evento",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "ReMJGXmApW6SOLH1",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "silvioalzate@gmail.com",
          "mode": "list",
          "cachedResultName": "silvioalzate@gmail.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "updateFields": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        2112,
        992
      ],
      "id": "c08eb3b5-9563-4163-b66c-624c261c41b9",
      "name": "Actualizar evento",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "ReMJGXmApW6SOLH1",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "silvioalzate@gmail.com",
          "mode": "list",
          "cachedResultName": "silvioalzate@gmail.com"
        },
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        2240,
        992
      ],
      "id": "7db1c1e3-546d-4500-8e8f-cae5ba80b090",
      "name": "Comprobar disponibilidad",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "ReMJGXmApW6SOLH1",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "content": "## 📩 Entrada de mensaje mediante Webhook en WaAPI\n",
        "height": 300,
        "width": 420
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        288,
        624
      ],
      "id": "74808855-2fb4-4faa-9d05-31b001685619",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## 🧠 Identificación de mensaje\n\nAquí identificamos si el mensaje recibido es un **audio** o un **texto**.\n\n- Si es **texto**, se envía directamente al agente para su interpretación.\n- Si es **audio**, se redirige a un nodo de tipo `convert to file` para transcribir el contenido a texto, de modo que el agente pueda interpretarlo correctamente.\n",
        "height": 620,
        "width": 700,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        720,
        304
      ],
      "id": "521f3d19-f7af-4dc9-b861-a096953578db",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## 🤖 Acción del agente\n\nEn esta zona, el agente entra en acción:\n\n- **Interpreta la información recibida** (ya sea texto o transcripción de audio).\n- **Toma decisiones** en base al contenido del mensaje.\n- **Ejecuta las herramientas disponibles** (como consultas a base de datos, generación de respuestas, acciones en Shopify, etc.) para ofrecer una respuesta adecuada o realizar una tarea automatizada.\n",
        "height": 600,
        "width": 960,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1440,
        544
      ],
      "id": "057b91fe-8f12-430e-8690-79d19035ccce",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## 📤 Respuesta por WhatsApp\n\nEste nodo se encarga de **enviar la respuesta generada por el agente** a la misma conversación de WhatsApp desde donde se recibió el mensaje.\n\n- Mantiene el contexto de la conversación.\n- Utiliza la API de WaAPI para realizar el envío de forma automática.\n",
        "height": 440,
        "width": 400,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2432,
        512
      ],
      "id": "21cf5335-6cf9-499d-90d4-14b307e7d6e7",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "# 🚀 La Tribu Divisual\n\n## Este agente tiene un valor en el mercado de **$997.**\n\n## Accede a **La Tribu** para aprender a crear agentes mucho más avanzados y a generar altos ingresos con ellos de forma real y segura.\n\n# 👉 [Click aquí para unirte a la Lista de espera](https://divisualproject.academy/)\n",
        "height": 360,
        "width": 680,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2432,
        944
      ],
      "id": "cedbe924-cba7-4a00-b781-f0073676498e",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "# 🛠️ Herramientas Utilizadas\n\n| Herramienta        | Descripción                                                                                         | Coste mensual              |\n|--------------------|-----------------------------------------------------------------------------------------------------|-----------------------------|\n\n| **WaAPI**          | Conexión con la API de WhatsApp.                                                                    | $6                          |\n\n| **ChatGPT**        | Transcripción de audios e interpretación de mensajes entrantes para generar respuestas.             | Pago por tokens *(variable)* |\n\n| **Supabase**       | Almacenamiento de la memoria del agente usando PostgreSQL.                                           | $0 *(versión gratuita)*     |\n\n| **Google Calendar**| Gestión de calendario y programación de eventos.                                                    | $0                          |\n\n\n---\n\n## 💰 Coste Total Mensual Estimado\n\n### **$6 (WaAPI) + tokens usados en ChatGPT**\n\n---\n\n**Hecho con ❤️ por [Juan Pe Navarro](https://www.youtube.com/@juanpe.divisual)**\n",
        "height": 540,
        "width": 660,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "7f3ad537-eb70-446f-ac75-1634333f7edb",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const originalText = $input.first().json.output;\n\n  if (typeof originalText !== 'string') {\n    return {\n      json: {\n        error: 'El campo \"text\" no existe o no es un texto',\n        original: originalText\n      }\n    };\n  }\n\n  let cleaned = originalText\n    .replace(/<[^>]*>/g, '')                     // Quitar HTML\n    .replace(/\\r?\\n|\\r/g, ' ')                   // Saltos de línea a espacio\n    .replace(/\\t+/g, ' ')                        // Tabs a espacio\n    .replace(/[^\\p{L}\\p{N},.¿?:?\\s]+/gu, '')     // Mantener letras, números, , . : ¿ ? y espacios\n    .replace(/\\s+/g, ' ')                        // Normalizar múltiples espacios\n    .trim();                                     // Quitar espacios extremos\n\n  return {\n    json: {\n      cleaned\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2208,
        768
      ],
      "id": "659a5402-bd6d-4662-9771-8b41b5e1967c",
      "name": "limpiar texto"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a13b9e63-3e4f-4653-8de9-35f402812a03",
              "name": "message.text",
              "value": "={{ $json.message.text }}",
              "type": "string"
            },
            {
              "id": "f5e10ebe-3fb0-48dd-8aa3-475f242770ab",
              "name": "content.parts[0].text",
              "value": "={{ $json.content.parts[0].text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1488,
        768
      ],
      "id": "b0f52a81-63e4-4d96-a23c-7cbb0bcd927d",
      "name": "Mapear mensaje"
    },
    {
      "parameters": {
        "content": "## ⚠️ ATENCIÓN\n\n### Este agente lo puedes conectar también a telegram (lo que te supondría un coste mensual de **$0**\n\nAccede a **La Tribu** para aprender conectar este agente a Telegram.\n\n## 👉 [Click aquí para unirte a la Lista de espera](https://divisualproject.academy/)\n",
        "height": 240,
        "width": 540,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1472,
        272
      ],
      "id": "7718dc7e-70e5-4ce7-882c-cf0b49f47136",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        320,
        752
      ],
      "id": "0bd6f3ec-c9df-4b9b-943e-324dec27b797",
      "name": "Telegram Trigger",
      "webhookId": "54db90e0-bf8e-40c5-a388-d149e93f80ff",
      "credentials": {
        "telegramApi": {
          "id": "ftEzQ8MqdpB8KEw8",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "={{ $json.cleaned }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2544,
        800
      ],
      "id": "d35ea8e8-d2df-462e-8247-bcc2fee78b6e",
      "name": "Send a text message",
      "webhookId": "a237cbba-74f8-425a-adb7-3cde187141d2",
      "credentials": {
        "telegramApi": {
          "id": "ftEzQ8MqdpB8KEw8",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "inputType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        1168,
        512
      ],
      "id": "cdd8e969-c21a-471d-be7b-ad47cb6c3d98",
      "name": "Transcribe a recording",
      "credentials": {
        "googlePalmApi": {
          "id": "ifSfOafkdG41fDnn",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1488,
        976
      ],
      "id": "769d6189-f6e5-4dce-99a4-18a8324c0ff4",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "ifSfOafkdG41fDnn",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        800,
        528
      ],
      "id": "c967a8a1-6a99-4853-a1e4-f73e8eaf24ca",
      "name": "Get a file",
      "webhookId": "e0cc5bb7-b346-4011-b2c9-99b35af88c5a",
      "credentials": {
        "telegramApi": {
          "id": "ftEzQ8MqdpB8KEw8",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.text }}{{ $json.content.parts[0].text }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1728,
        976
      ],
      "id": "50d46482-0c68-493b-b9d5-0cf67953df6e",
      "name": "Simple Memory"
    }
  ],
  "connections": {
    "Switch": {
      "main": [
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mapear mensaje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crear evento": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Eliminar evento": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Actualizar evento": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Comprobar disponibilidad": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "limpiar texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "limpiar texto": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mapear mensaje": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "Mapear mensaje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "fce3a9fa-7181-4bf7-85ff-db116acf7c8d",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-09-09T20:18:03.409Z",
      "updatedAt": "2025-09-09T20:18:03.409Z",
      "role": "workflow:owner",
      "workflowId": "QXaBQ1WVHO8UPU0V",
      "projectId": "Hsc2LcKTpV0xRSJz"
    }
  ],
  "tags": [
    {
      "createdAt": "2025-09-09T20:22:04.241Z",
      "updatedAt": "2025-09-09T20:22:04.241Z",
      "id": "6ZmVKa3dDyCY5YdE",
      "name": "CALENDAR"
    },
    {
      "createdAt": "2025-09-09T20:21:54.065Z",
      "updatedAt": "2025-09-09T20:21:54.065Z",
      "id": "IJiDWRqYgjWYBQWQ",
      "name": "TELEGRAM"
    },
    {
      "createdAt": "2025-09-09T20:21:58.530Z",
      "updatedAt": "2025-09-09T20:21:58.530Z",
      "id": "Rns9cvDBQ6Nyjkk7",
      "name": "GEMINI"
    }
  ]
}