My workflow 2.json
{
  "createdAt": "2025-11-14T15:56:10.074Z",
  "updatedAt": "2025-11-14T15:56:10.074Z",
  "id": "02yMUlEXTQhvyGaU",
  "name": "My workflow 2",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "formTitle": "Quote Form",
        "formFields": {
          "values": [
            {
              "fieldLabel": "First Name"
            },
            {
              "fieldLabel": "Last Name"
            },
            {
              "fieldLabel": "Email"
            },
            {
              "fieldLabel": "Phone"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        576,
        144
      ],
      "id": "d80b8e7f-45ca-4836-8c3b-9f83376f3217",
      "name": "On form submission",
      "webhookId": "a0026e7d-d123-42c2-8b8b-c5cdbea3011b"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1bRWQUv2P1O8A20IKGQapg2FdkNuUVeoYNU45qbZcFv8",
          "mode": "list",
          "cachedResultName": "n8n Database",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bRWQUv2P1O8A20IKGQapg2FdkNuUVeoYNU45qbZcFv8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bRWQUv2P1O8A20IKGQapg2FdkNuUVeoYNU45qbZcFv8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $json.Email }}",
            "Phone": "={{ $json.Phone }}",
            "First Name": "={{ $json['First Name'] }}",
            "Last Name": "={{ $json['Last Name'] }}",
            "Date": "={{ $now }}",
            "Status": "New Lead",
            "Execution ID": "={{ $execution.id }}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "First Name",
              "displayName": "First Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Last Name",
              "displayName": "Last Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Price",
              "displayName": "Price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Discount",
              "displayName": "Discount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Deadline",
              "displayName": "Deadline",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Problem",
              "displayName": "Problem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Solution",
              "displayName": "Solution",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Upsells",
              "displayName": "Upsells",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Service",
              "displayName": "Service",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Website",
              "displayName": "Website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Contract Link",
              "displayName": "Contract Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Execution ID",
              "displayName": "Execution ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        784,
        144
      ],
      "id": "cae41ee6-9e79-4816-bcb4-f937b0905f1c",
      "name": "Append or update row in sheet"
    },
    {
      "parameters": {
        "chatId": "=7557078776",
        "text": "=New Lead:\nName: JOno\nEmail: jonocatliff@gmail.com\nPhone: 647-000-0000",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1168,
        144
      ],
      "id": "fc4432e5-e2ea-402d-9772-e323db90e980",
      "name": "Send a text message",
      "webhookId": "c19e0d52-cc68-467a-9898-70a9aa2a66d2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/hooks/sahsdlkfjsdlkd/webhook-trigger/8c1a5dc7-4d18-473a-bc6c-84a882452e48",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "={{ $json.Email }}"
            },
            {
              "name": "phone",
              "value": "={{ $json.Phone }}"
            },
            {
              "name": "first_name",
              "value": "={{ $json['First Name'] }}"
            },
            {
              "name": "last_name",
              "value": "={{ $json['Last Name'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        976,
        144
      ],
      "id": "a11cd0de-386d-4436-a6f2-8931f48a5a97",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "content": "## New Lead Workflow",
        "height": 368,
        "width": 1872
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        512,
        0
      ],
      "id": "649d0928-2f66-48e4-bd77-0ed1392f9f2d",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Sales Call Workflow",
        "height": 368,
        "width": 1504
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        512,
        720
      ],
      "id": "bea1c2c0-1a47-4091-9193-fed3b6b15ef4",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Appointment Workflow",
        "height": 704,
        "width": 1504
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        512,
        1456
      ],
      "id": "34853bbb-66d0-406a-bc9a-e0ba20f63e2a",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "events": [
          "BOOKING_CREATED"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.calTrigger",
      "typeVersion": 2,
      "position": [
        560,
        1600
      ],
      "id": "066fdc8f-27ef-4043-91ec-72a1d583739b",
      "name": "Cal.com Trigger",
      "webhookId": "ce5a7424-b7f6-454d-a828-bd88a3e83dfe"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1bRWQUv2P1O8A20IKGQapg2FdkNuUVeoYNU45qbZcFv8",
          "mode": "list",
          "cachedResultName": "n8n Database",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bRWQUv2P1O8A20IKGQapg2FdkNuUVeoYNU45qbZcFv8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bRWQUv2P1O8A20IKGQapg2FdkNuUVeoYNU45qbZcFv8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $json.attendees[0].email }}",
            "Status": "Follow Up"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "First Name",
              "displayName": "First Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Last Name",
              "displayName": "Last Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Price",
              "displayName": "Price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Discount",
              "displayName": "Discount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Deadline",
              "displayName": "Deadline",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Problem",
              "displayName": "Problem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Solution",
              "displayName": "Solution",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Upsells",
              "displayName": "Upsells",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Service",
              "displayName": "Service",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Website",
              "displayName": "Website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Contract Link",
              "displayName": "Contract Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Execution ID",
              "displayName": "Execution ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        784,
        1600
      ],
      "id": "1a72dc9e-350c-4acc-be1c-90f3ba3b9be4",
      "name": "Google Sheets3",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "kO9YUNarC46J5hqt",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Contract Signed Workflow",
        "height": 368,
        "width": 1504
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        512,
        2496
      ],
      "id": "fa74cfd8-cb40-46c5-b33b-9c2d50510a43",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Deposit Paid Workflow\nProject management workflow, onboarding, notifications, bookkeeping",
        "height": 368,
        "width": 1504
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        512,
        2976
      ],
      "id": "e289278f-4c8b-4d00-863c-6d64dda61c39",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "resume": "specificTime",
        "dateTime": "={{ $('Cal.com Trigger').item.json.startTime.toDateTime().plus(-1, 'days') }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1616,
        1600
      ],
      "id": "07370578-fd63-42dd-aa43-016b2fbf4526",
      "name": "Wait",
      "webhookId": "2f1e61a5-8b43-48a9-a1d9-8a0b6016ff26"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Cal.com Trigger').item.json.destinationCalendar[0].primaryEmail }}",
        "subject": "Appointment Confirmation",
        "emailType": "text",
        "message": "=Hey {{ $('Cal.com Trigger').item.json.responses.name.value.split(\" \")[0] }},\n\nThanks for booking an appointment - I look forward to chatting with you on {{ $('Cal.com Trigger').item.json.startTime }}!\n\nIf you need to reschedule or cancel, you can do so here:\nhttps://cal.com/booking/{{ $('Cal.com Trigger').item.json.uid }}\n\n\nBest,\nJono",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1408,
        1600
      ],
      "id": "28f76317-6c82-491d-88a0-7bac89ffa1bc",
      "name": "Send a message",
      "webhookId": "ab24d39b-7c7b-4265-b527-96cbfcab0859",
      "credentials": {
        "gmailOAuth2": {
          "id": "iuJYi41DtpQzfzfl",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Cal.com Trigger').item.json.destinationCalendar[0].primaryEmail }}",
        "subject": "Appointment Confirmation",
        "emailType": "text",
        "message": "=Hey {{ $('Cal.com Trigger').item.json.responses.name.value.split(\" \")[0] }},\n\nJust wanted to follow up to confirm that I'll be calling you tomorrow at {{ $('Cal.com Trigger').item.json.startTime }}.\n\nIf you need to reschedule or cancel, you can do so here:\nhttps://cal.com/booking/{{ $('Cal.com Trigger').item.json.uid }}\n\nTalk soon!\n\nBest,\nJono",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1808,
        1600
      ],
      "id": "73197b41-7364-4669-8c9b-0e99e265d346",
      "name": "Send a message1",
      "webhookId": "ab24d39b-7c7b-4265-b527-96cbfcab0859",
      "credentials": {
        "gmailOAuth2": {
          "id": "iuJYi41DtpQzfzfl",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "events": [
          "BOOKING_RESCHEDULED"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.calTrigger",
      "typeVersion": 2,
      "position": [
        560,
        1776
      ],
      "id": "8fdd2e68-e063-46cb-9fd3-851ae4730228",
      "name": "Cal.com Trigger1",
      "webhookId": "a9eac5d9-98b6-4ff9-8ffc-9a896a551204"
    },
    {
      "parameters": {
        "events": [
          "BOOKING_CANCELLED"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.calTrigger",
      "typeVersion": 2,
      "position": [
        560,
        1968
      ],
      "id": "08df9c46-4f2a-42cc-a1bb-3da62cdb411f",
      "name": "Cal.com Trigger2",
      "webhookId": "5cb3b113-7f16-494f-9d24-0f6388792933"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1qYAl0JNiMlbgxPzeGomCmsVfkbo-wHsWMWzeSoLlQTg",
          "mode": "list",
          "cachedResultName": "n8n Recruitment",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qYAl0JNiMlbgxPzeGomCmsVfkbo-wHsWMWzeSoLlQTg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qYAl0JNiMlbgxPzeGomCmsVfkbo-wHsWMWzeSoLlQTg/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Code": "={{ $json.userFieldsResponses.code.value }}",
            "Interview Scheduled": "TRUE"
          },
          "matchingColumns": [
            "Code"
          ],
          "schema": [
            {
              "id": "First Name",
              "displayName": "First Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Last Name",
              "displayName": "Last Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Job",
              "displayName": "Job",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Rejected",
              "displayName": "Rejected",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Questions",
              "displayName": "Questions",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Screening",
              "displayName": "Screening",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Test Complete",
              "displayName": "Test Complete",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Test Approved",
              "displayName": "Test Approved",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Interview Scheduled",
              "displayName": "Interview Scheduled",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Hire",
              "displayName": "Hire",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Indeed Email",
              "displayName": "Indeed Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Resume",
              "displayName": "Resume",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Portfolio Link",
              "displayName": "Portfolio Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Years Of Experience",
              "displayName": "Years Of Experience",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Expected Salary",
              "displayName": "Expected Salary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Date Added",
              "displayName": "Date Added",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Code",
              "displayName": "Code",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Test Link",
              "displayName": "Test Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        784,
        1968
      ],
      "id": "e14519fd-7cd0-4290-8750-34d697e5cba0",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "kO9YUNarC46J5hqt",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Cal.com Trigger2').item.json.destinationCalendar[0].primaryEmail }}",
        "subject": "Appointment Confirmation",
        "emailType": "text",
        "message": "=Hey {{ $('Cal.com Trigger2').item.json.responses.name.value.split(\" \")[0] }},\n\nI just saw you cancelled our appointment - thanks for letting me know in advance!\n\nI hope everything is ok on your end - would you like to reschedule for a more convenient time? Here's my calendar link:\nhttps://cal.com/jono-catliff-vegjw5/15min\n\n\nBest,\nJono",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        992,
        1968
      ],
      "id": "6f3e5636-0ec8-49a8-99bb-fa2640073969",
      "name": "Send a message3",
      "webhookId": "ab24d39b-7c7b-4265-b527-96cbfcab0859",
      "credentials": {
        "gmailOAuth2": {
          "id": "iuJYi41DtpQzfzfl",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "days"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1200,
        1968
      ],
      "id": "8cc1465f-7e93-49a1-81e5-85f36162a5f6",
      "name": "Wait1",
      "webhookId": "b15beedb-0333-4993-9d17-43dc7d13ec16"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Cal.com Trigger2').item.json.destinationCalendar[0].primaryEmail }}",
        "subject": "Appointment Confirmation",
        "emailType": "text",
        "message": "=Hey {{ $('Cal.com Trigger2').item.json.responses.name.value.split(\" \")[0] }},\n\nI just wanted to follow up again - not sure if you saw my last message or not, but I wanted to see if you're free sometime this week to chat about ABC services?\n\nHere's my calendar\nhttps://cal.com/jono-catliff-vegjw5/15min\n\n\nBest,\nJono",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1408,
        1968
      ],
      "id": "ff876b9f-f6b9-4172-90e5-06b34c97524c",
      "name": "Send a message4",
      "webhookId": "ab24d39b-7c7b-4265-b527-96cbfcab0859",
      "credentials": {
        "gmailOAuth2": {
          "id": "iuJYi41DtpQzfzfl",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "GPT-5-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "You're an intelligent bot capable of taking call data and turning it into a polished 3:1 document: proposal, invoice and contract via PandaDoc. You need to elaborate on the leads problem and solution in great detail.\n\nRules:\n1. Please keep each response under 250 characters.\n2. Make sure it's polished and ready to be sent out immediately",
              "role": "system"
            },
            {
              "content": "=First Name: {{ $json[\"First Name\"] }}\nLast Name: {{ $json['Last Name'] }}\nCompany: {{ $json['Company Name'] }}\nWebsite: {{ $json.Website }}\nProblem: {{ $json.Problem }}\nSolution: {{ $json.Solution }}\nDeadline: {{ $json.Deadline }}"
            },
            {
              "content": "Please output the data in the following JSON format:\n{\n\"problem\": \"\",\n\"solution\": \"\"\n}",
              "role": "assistant"
            }
          ]
        },
        "jsonOutput": true,
        "options": {
          "maxTokens": 4000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        768,
        848
      ],
      "id": "0beb8778-ab50-4f50-a4e4-88ab232334b2",
      "name": "Message a model"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pandadoc.com/public/v1/documents/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "API-Key 8f0a228ac1c1b8c3764348329048903482"
            },
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "=\n{\n    \"template_uuid\": \"DQZHNzwWz3cpFWRZprh44V\",\n    \"send\": true,\n    \"name\": \"{{ $('On form submission2').item.json['First Name'] }} {{ $('On form submission2').item.json['Last Name'] }} Project Management Proposal - {{ DateTime.fromISO($('On form submission2').item.json.submittedAt).toFormat('MM/dd/yyyy') }}\", \n    \"recipients\": [\n      {\n        \"email\": \"{{ $('On form submission2').item.json.Email }}\",\n        \"first_name\": \"{{ $('On form submission2').item.json['First Name'] }}\",\n        \"last_name\": \"{{ $('On form submission2').item.json['Last Name'] }}\",\n        \"role\": \"Client\"\n      },\n      {\n        \"email\": \"jonocatliff@gmail.com\",\n        \"first_name\": \"Jono\",\n        \"last_name\": \"Catliff\",\n        \"role\": \"Sender\"\n      }\n    ],\n    \"tokens\": [\n      {\n        \"name\": \"Client.Company\",\n        \"value\": \"{{ $('On form submission2').item.json['Company Name'] }}\"\n      },\n      {\n        \"name\": \"Client.FirstName\",\n        \"value\": \"{{ $('On form submission2').item.json['First Name'] }}\"\n      },\n      {\n        \"name\": \"Client.LastName\",\n        \"value\": \"{{ $('On form submission2').item.json['Last Name'] }}\"\n      },\n      {\n        \"name\": \"Client.Problem\",\n        \"value\": {{ JSON.stringify($json.message.content.problem) }}\n      },\n      {\n        \"name\": \"Client.Solution\",\n        \"value\": {{ JSON.stringify($json.message.content.solution) }}\n      },\n      {\n        \"name\": \"Client.Deadline\",\n        \"value\": \"{{ DateTime.fromISO($('On form submission2').item.json.submittedAt).toFormat('MM/dd/yyyy') }}\"\n      },\n      {\n        \"name\": \"Client.Invoice\",\n        \"value\": \"{{`INV-${Math.floor(Math.random()*1e4).toString().padStart(6,'0')}` }}\"\n      },\n      {\n        \"name\": \"Client.Terms\",\n        \"value\": {{ JSON.stringify($('On form submission2').item.json.Service == \"Automation\" ? `\n\n3. These are test terms for clients that ask for automation services` : \"\") }}\n      },\n      {\n        \"name\": \"Sender.Company\",\n        \"value\": \"Automatable\"\n      },\n      {\n        \"name\": \"Sender.FirstName\",\n        \"value\": \"Jono\"\n      },\n      {\n        \"name\": \"Sender.LastName\",\n        \"value\": \"Catliff\"\n      }\n    ],\n    \"fields\": {},\n    \"pricing_tables\": [\n        {\n            \"name\": \"Pricing Table 1\",\n            \"data_merge\": true,\n            \"sections\": [\n                {\n                    \"title\": \"Sample Section\",\n                    \"default\": true,\n                    \"rows\": [\n                        {\n                            \"options\": {\n                                \"optional\": false,\n                                \"optional_selected\": true,\n                                \"qty_editable\": false\n                            },\n                            \"data\": {\n                                \"Name\": \"Agency Services\",\n                                \"Description\": \"Standard Package\",\n                                \"Price\": {{ $('On form submission2').item.json.Price }},\n                                \"QTY\": 1,\n                                \"SKU\":\"services\",\n                                \"Tax\": {\n                                    \"value\": 5,\n                                    \"type\": \"percent\"\n                                },\n                                \"Discount\": {\n                                    \"value\": {{ $('On form submission2').item.json.Discount }},\n                                    \"type\": \"percent\"\n                                }\n                            }\n                        },\n                        {\n                            \"options\": {\n                                \"optional\": false,\n                                \"optional_selected\": true,\n                                \"qty_editable\": false\n                            },\n                            \"data\": {\n                                \"Name\": \"Social Media\",\n                                \"Description\": \"Media package\",\n                                \"Price\": 500,\n                                \"QTY\": 1,\n                                \"SKU\":\"services\",\n                                \"Tax\": {\n                                    \"value\": 5,\n                                    \"type\": \"percent\"\n                                },\n                                \"Discount\": {\n                                    \"value\": {{ $('On form submission2').item.json.Discount }},\n                                    \"type\": \"percent\"\n                                }\n                            }\n                        }\n                    ]\n                }\n            ]\n        }\n    ]\n  }",
        "options": {}
      },
      "id": "22be0c39-5fa0-4570-b087-a1df8dc390b1",
      "name": "HTTP Request2",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1120,
        848
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "formTitle": "Sales Call Logging Form",
        "formDescription": "This form logs a sales call & automatically generates a proposal.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "First Name",
              "requiredField": true
            },
            {
              "fieldLabel": "Last Name",
              "requiredField": true
            },
            {
              "fieldLabel": "Email",
              "fieldType": "email",
              "requiredField": true
            },
            {
              "fieldLabel": "Company Name"
            },
            {
              "fieldLabel": "Website",
              "requiredField": true
            },
            {
              "fieldLabel": "Service",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "SEO"
                  },
                  {
                    "option": "Ads"
                  },
                  {
                    "option": "Automation"
                  }
                ]
              }
            },
            {
              "fieldLabel": "Price",
              "fieldType": "number"
            },
            {
              "fieldLabel": "Discount",
              "fieldType": "number"
            },
            {
              "fieldLabel": "Deadline",
              "fieldType": "date"
            },
            {
              "fieldLabel": "Problem",
              "fieldType": "textarea"
            },
            {
              "fieldLabel": "Solution",
              "fieldType": "textarea"
            },
            {
              "fieldLabel": "Upsells",
              "fieldType": "checkbox",
              "fieldOptions": {
                "values": [
                  {
                    "option": "SEO"
                  },
                  {
                    "option": "Ads"
                  }
                ]
              }
            }
          ]
        },
        "options": {
          "appendAttribution": false
        }
      },
      "id": "cad8de87-e6d3-4d28-b774-4738fa49942e",
      "name": "On form submission2",
      "type": "n8n-nodes-base.formTrigger",
      "position": [
        560,
        848
      ],
      "webhookId": "11e35190-32ca-4974-801b-bdae68a61c82",
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "5bfcdc94-5243-4207-81ac-737a02a5ca9c",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        544,
        2624
      ],
      "id": "6f77c694-b34b-46a3-a826-d19b76f364d6",
      "name": "Webhook",
      "webhookId": "5bfcdc94-5243-4207-81ac-737a02a5ca9c"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        960,
        2624
      ],
      "id": "dfb171de-7329-48d0-9413-f8d86f2e424f",
      "name": "Wait2",
      "webhookId": "acb09a27-10cb-4715-8d1f-12a1d025b259"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "22617b5b-e5a2-49b6-9da1-101ec1325458",
              "leftValue": "={{ $json.status }}",
              "rightValue": "document.waiting_pay",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        752,
        2624
      ],
      "id": "3bfb5f86-2ecd-4270-b47c-bb6c7f52d7f7",
      "name": "Filter"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "5bfcdc94-5243-4207-81ac-737a02a5ca9c",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        544,
        3120
      ],
      "id": "70c564eb-933e-47fd-9aa5-1647aaa0cc3e",
      "name": "Webhook1",
      "webhookId": "5bfcdc94-5243-4207-81ac-737a02a5ca9c"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        960,
        3120
      ],
      "id": "59388fe8-c717-4f2e-8104-2ad34ea9dd62",
      "name": "Wait3",
      "webhookId": "acb09a27-10cb-4715-8d1f-12a1d025b259"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.recipients[1].email }}",
        "subject": "Appointment Confirmation",
        "emailType": "text",
        "message": "=Hey {{ $json.recipients[1].first_name }},\n\nThanks for paying the invoice! Really appreciate you choosing our team and we can't wait to work with you. I'll get my account manager to email you shortly to introduce themselves!\n\nLet me know if you have any questions!\n\nBest,\nJono",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1152,
        3120
      ],
      "id": "78b12937-3182-4755-94aa-3dcbff2afd63",
      "name": "Send a message6",
      "webhookId": "ab24d39b-7c7b-4265-b527-96cbfcab0859",
      "credentials": {
        "gmailOAuth2": {
          "id": "iuJYi41DtpQzfzfl",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "22617b5b-e5a2-49b6-9da1-101ec1325458",
              "leftValue": "={{ $json.status }}",
              "rightValue": "document.paid",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        752,
        3120
      ],
      "id": "6dcf7574-a4d0-41d9-bdcd-382630d1d131",
      "name": "Filter1"
    },
    {
      "parameters": {
        "sendTo": "={{ $('On form submission').item.json.Email }}",
        "subject": "Thanks for inquiring with Automatable!",
        "emailType": "text",
        "message": "=Hey {{ $('On form submission').item.json['First Name'] }},\n\nThanks for contacting Automatable - it's a pleasure to meet you. It would be great to jump on a quick call to see how we can help. Are you available for a chat now? If not, here's my link:\nhttps://cal.com/jono-catliff-vegjw5/15min\n\nBest,\nJono",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1376,
        144
      ],
      "id": "162eab31-e072-4d7e-b148-5503b597cb1a",
      "name": "Send a message2",
      "webhookId": "ab24d39b-7c7b-4265-b527-96cbfcab0859"
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "days"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1584,
        144
      ],
      "id": "5ba7df59-6c54-4255-b06b-5b3b78534de9",
      "name": "Wait4",
      "webhookId": "265a5c4b-d167-4a19-9c7c-848752f5263a"
    },
    {
      "parameters": {
        "sendTo": "={{ $('On form submission').item.json.Email }}",
        "subject": "RE:Thanks for inquiring with Automatable!",
        "emailType": "text",
        "message": "=Hey {{ $('On form submission').item.json['First Name'] }},\n\nIt's Jono again - I just wanted to follow up here - not sure if you got my last email or not. I saw you were looking for AI automation services. It would be great to chat, here's a link to my calendar to book a call:\nhttps://cal.com/jono-catliff-vegjw5/15min\n\nBest,\nJono",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2208,
        144
      ],
      "id": "376cfa46-404a-4418-bb1f-c0cdd0ddca7b",
      "name": "Send a message7",
      "webhookId": "ab24d39b-7c7b-4265-b527-96cbfcab0859"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1bRWQUv2P1O8A20IKGQapg2FdkNuUVeoYNU45qbZcFv8",
          "mode": "list",
          "cachedResultName": "n8n Database",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bRWQUv2P1O8A20IKGQapg2FdkNuUVeoYNU45qbZcFv8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bRWQUv2P1O8A20IKGQapg2FdkNuUVeoYNU45qbZcFv8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $('On form submission2').item.json.Email }}",
            "First Name": "={{ $('On form submission2').item.json['First Name'] }}",
            "Last Name": "={{ $('On form submission2').item.json['Last Name'] }}",
            "Status": "Sales Call",
            "Upsells": "={{ $('On form submission2').item.json.Upsells }}",
            "Solution": "={{ $('On form submission2').item.json.Solution }}",
            "Deadline": "={{ $('On form submission2').item.json.Deadline }}",
            "Discount": "={{ $('On form submission2').item.json.Discount }}",
            "Price": "={{ $('On form submission2').item.json.Price }}",
            "Problem": "={{ $('On form submission2').item.json.Problem }}",
            "Service": "={{ $('On form submission2').item.json.Service }}",
            "Company": "={{ $('On form submission2').item.json['Company Name'] }}",
            "Website": "={{ $('On form submission2').item.json.Website }}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "First Name",
              "displayName": "First Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Last Name",
              "displayName": "Last Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Price",
              "displayName": "Price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Discount",
              "displayName": "Discount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Deadline",
              "displayName": "Deadline",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Problem",
              "displayName": "Problem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Solution",
              "displayName": "Solution",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Upsells",
              "displayName": "Upsells",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Service",
              "displayName": "Service",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Website",
              "displayName": "Website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Contract Link",
              "displayName": "Contract Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Execution ID",
              "displayName": "Execution ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1328,
        848
      ],
      "id": "ce1d2483-b1b7-43fd-9c13-c29e1453aebd",
      "name": "Append or update row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "kO9YUNarC46J5hqt",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1bRWQUv2P1O8A20IKGQapg2FdkNuUVeoYNU45qbZcFv8",
          "mode": "list",
          "cachedResultName": "n8n Database",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bRWQUv2P1O8A20IKGQapg2FdkNuUVeoYNU45qbZcFv8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bRWQUv2P1O8A20IKGQapg2FdkNuUVeoYNU45qbZcFv8/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Email",
              "lookupValue": "={{ $('Append or update row in sheet').item.json.Email }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1776,
        144
      ],
      "id": "9eb11d92-cb26-4a00-8463-0a5b7ff6d2b7",
      "name": "Get row(s) in sheet"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f8d440fe-b6b7-44c7-adfa-cded7db09e7a",
              "leftValue": "={{ $json.Status }}",
              "rightValue": "New Lead",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1984,
        144
      ],
      "id": "261d84a2-7045-4d6b-b9cd-369afba672a5",
      "name": "Filter2"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.Email }}",
        "subject": "Appointment Confirmation",
        "emailType": "text",
        "message": "=Hey {{ $json['First Name'] }},\n\nThanks for jumping on a call with me just now, it was great chatting.\n\nI just wanted to let you know that I've sent off the contract via PandaDoc.\n\nBest,\nJono",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1536,
        848
      ],
      "id": "9697b432-cd12-4f1d-ad51-5611b7b2899b",
      "name": "Send a message8",
      "webhookId": "ab24d39b-7c7b-4265-b527-96cbfcab0859",
      "credentials": {
        "gmailOAuth2": {
          "id": "iuJYi41DtpQzfzfl",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "=7557078776",
        "text": "=You have a new appointment booked with {{ $json['First Name'] }}:\n{{ $('Cal.com Trigger').item.json.startTime }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1200,
        1600
      ],
      "id": "e5833b18-30cf-4c89-8695-bbe918b194ae",
      "name": "Send a text message1",
      "webhookId": "c19e0d52-cc68-467a-9898-70a9aa2a66d2",
      "credentials": {
        "telegramApi": {
          "id": "ftEzQ8MqdpB8KEw8",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1bRWQUv2P1O8A20IKGQapg2FdkNuUVeoYNU45qbZcFv8",
          "mode": "list",
          "cachedResultName": "n8n Database",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bRWQUv2P1O8A20IKGQapg2FdkNuUVeoYNU45qbZcFv8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bRWQUv2P1O8A20IKGQapg2FdkNuUVeoYNU45qbZcFv8/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Email",
              "lookupValue": "={{ $json.Email }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1008,
        1600
      ],
      "id": "27153ffb-0d08-4789-80b2-4755cf8309ee",
      "name": "Get row(s) in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "kO9YUNarC46J5hqt",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1bRWQUv2P1O8A20IKGQapg2FdkNuUVeoYNU45qbZcFv8",
          "mode": "list",
          "cachedResultName": "n8n Database",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bRWQUv2P1O8A20IKGQapg2FdkNuUVeoYNU45qbZcFv8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bRWQUv2P1O8A20IKGQapg2FdkNuUVeoYNU45qbZcFv8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $('Webhook1').item.json.recipients[1].email }}",
            "Status": "Paid"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "First Name",
              "displayName": "First Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Last Name",
              "displayName": "Last Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Price",
              "displayName": "Price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Discount",
              "displayName": "Discount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Deadline",
              "displayName": "Deadline",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Problem",
              "displayName": "Problem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Solution",
              "displayName": "Solution",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Upsells",
              "displayName": "Upsells",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Service",
              "displayName": "Service",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Website",
              "displayName": "Website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Contract Link",
              "displayName": "Contract Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Execution ID",
              "displayName": "Execution ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1344,
        3120
      ],
      "id": "94855b31-ee96-4c58-b9e8-2b0408463085",
      "name": "Google Sheets5",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "kO9YUNarC46J5hqt",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.recipients[1].email }}",
        "subject": "Appointment Confirmation",
        "emailType": "text",
        "message": "=Hey {{ $json.recipients[1].first_name }},\n\nThanks for signing the contract - the next step is just to pay on the same agreement and we're all set!\n\n\nLet me know if you have any questions!\n\nBest,\nJono",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1152,
        2624
      ],
      "id": "b97b5f99-5d2b-48f3-a462-4ef10fe28dce",
      "name": "Send a message9",
      "webhookId": "ab24d39b-7c7b-4265-b527-96cbfcab0859",
      "credentials": {
        "gmailOAuth2": {
          "id": "iuJYi41DtpQzfzfl",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1bRWQUv2P1O8A20IKGQapg2FdkNuUVeoYNU45qbZcFv8",
          "mode": "list",
          "cachedResultName": "n8n Database",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bRWQUv2P1O8A20IKGQapg2FdkNuUVeoYNU45qbZcFv8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bRWQUv2P1O8A20IKGQapg2FdkNuUVeoYNU45qbZcFv8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $('Webhook1').item.json.recipients[1].email }}",
            "Status": "Paid"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "First Name",
              "displayName": "First Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Last Name",
              "displayName": "Last Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Price",
              "displayName": "Price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Discount",
              "displayName": "Discount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Deadline",
              "displayName": "Deadline",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Problem",
              "displayName": "Problem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Solution",
              "displayName": "Solution",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Upsells",
              "displayName": "Upsells",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Service",
              "displayName": "Service",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Website",
              "displayName": "Website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Contract Link",
              "displayName": "Contract Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Execution ID",
              "displayName": "Execution ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1344,
        2624
      ],
      "id": "1b0c36e0-7618-4b09-867a-bf58b253c430",
      "name": "Google Sheets6",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "kO9YUNarC46J5hqt",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Email/SMS software\nI'd replace gmail with CRM automation here",
        "height": 368,
        "width": 448,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2448,
        0
      ],
      "id": "13e0974f-446d-48e0-ab8e-baa3643eff48",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "additionalFields": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.highLevel",
      "typeVersion": 2,
      "position": [
        2496,
        144
      ],
      "id": "0c1d5320-9d41-42b8-8286-87f6a9615a77",
      "name": "Create or update a contact",
      "disabled": true
    },
    {
      "parameters": {
        "resource": "contactList",
        "listId": 0,
        "contactId": 0
      },
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        2720,
        144
      ],
      "id": "baafeb38-5c8b-4d24-81db-3a228d1e2bd3",
      "name": "Add a contact to a list",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Email/SMS software\nI'd replace gmail with CRM automation here",
        "height": 368,
        "width": 448,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2096,
        720
      ],
      "id": "745c3e91-9c6c-4c0d-b4bc-c25e1b6c2367",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "additionalFields": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.highLevel",
      "typeVersion": 2,
      "position": [
        2144,
        864
      ],
      "id": "bd355678-5a52-4a81-bea1-304b121c32e4",
      "name": "Create or update a contact1",
      "disabled": true
    },
    {
      "parameters": {
        "resource": "contactList",
        "listId": 0,
        "contactId": 0
      },
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        2368,
        864
      ],
      "id": "a5d18cdd-d4cc-4832-9d6c-95a0d4bd952a",
      "name": "Add a contact to a list1",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Email/SMS software\nI'd replace gmail with CRM automation here",
        "height": 368,
        "width": 448,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2096,
        1472
      ],
      "id": "ba8a83e9-c21c-4e4c-85fe-a4a6df361352",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "additionalFields": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.highLevel",
      "typeVersion": 2,
      "position": [
        2144,
        1616
      ],
      "id": "9aaa93c1-7d45-49f8-8892-65535bdaec6c",
      "name": "Create or update a contact2",
      "disabled": true
    },
    {
      "parameters": {
        "resource": "contactList",
        "listId": 0,
        "contactId": 0
      },
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        2368,
        1616
      ],
      "id": "a236c6e3-7a05-4bd6-9d55-f16d760d78d4",
      "name": "Add a contact to a list2",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Email/SMS software\nI'd replace gmail with CRM automation here",
        "height": 368,
        "width": 448,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2096,
        2496
      ],
      "id": "933bf33a-b6df-47aa-875c-50ac36f354b2",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "additionalFields": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.highLevel",
      "typeVersion": 2,
      "position": [
        2144,
        2640
      ],
      "id": "1aca109b-223e-4b0a-928f-f062976b1fb5",
      "name": "Create or update a contact3",
      "disabled": true
    },
    {
      "parameters": {
        "resource": "contactList",
        "listId": 0,
        "contactId": 0
      },
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        2368,
        2640
      ],
      "id": "6e97977a-e1ac-4637-9979-427668b9bb91",
      "name": "Add a contact to a list3",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Email/SMS software\nI'd replace gmail with CRM automation here",
        "height": 368,
        "width": 448,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2096,
        2976
      ],
      "id": "7e603d4d-1f3a-4b28-84cf-369786f4ffba",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "additionalFields": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.highLevel",
      "typeVersion": 2,
      "position": [
        2144,
        3120
      ],
      "id": "1918fb9d-6d94-468c-80ae-818743787d6b",
      "name": "Create or update a contact4",
      "disabled": true
    },
    {
      "parameters": {
        "resource": "contactList",
        "listId": 0,
        "contactId": 0
      },
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        2368,
        3120
      ],
      "id": "c279de79-9cbd-4ce6-9814-07f849aabab3",
      "name": "Add a contact to a list4",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Benefits\n1. 391% increase in sales\n2. ~30 minutes saved per lead\n3. Automatic booked appointments\n\n## Features\n1. Automated call in 15 seconds\n2. 5 automated emails\n3. 4 automated text messages\n4. Added into central CRM",
        "height": 368,
        "width": 448,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "6f50f423-8ac4-4ca0-8ce9-b3590e730c51",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "content": "## Benefits\n1. ~30 minutes saved per document\n2. Optional upsells inc. my bottom line 10%\n3. Automatic booked appointments\n\n## Features\n1. Automated proposal/contract invoice\n2. 1-2 automated emails\n3. 1-2 automated text messages\n4. Calendar bookings\n5. Notes handled in one place",
        "height": 368,
        "width": 448,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        720
      ],
      "id": "a1817044-550b-4036-8955-54d4dd5b7adc",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "content": "## Benefits\n1. ~15-30 minutes saved per person\n2. Significantly high show rate\n3. Re-engage nearly lost leads\n\n## Features\n1. Reminders to you and leads\n2. 3-10 automated emails\n3. 1-5 automated text messages\n4. Automatic cancelling + rescheduling",
        "height": 368,
        "width": 448,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        1456
      ],
      "id": "1fa1cd84-2d6c-4d2f-b233-09adf6e4374e",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "content": "## Benefits\n1. ~15 minutes saved per person\n2. Inc. in sales\n\n## Features\n1. 3-4 automated emails\n2. 1-2 automated text messages\n3. Updates CRM",
        "height": 368,
        "width": 448,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        2496
      ],
      "id": "05152d5f-c185-4d3d-b424-0f26470dde26",
      "name": "Sticky Note13"
    },
    {
      "parameters": {
        "content": "## Benefits\n1. Feeds into onboarding, project management, etc\n2. Feeds into accounting\n\n## Features\n1. 1-4 automated emails\n2. 1-2 automated text messages\n3. Updates CRM",
        "height": 368,
        "width": 448,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        2976
      ],
      "id": "0611134c-651f-4049-a149-444f807302b1",
      "name": "Sticky Note14"
    },
    {
      "parameters": {
        "resource": "payment",
        "operation": "create",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.quickbooks",
      "typeVersion": 1,
      "position": [
        1568,
        3120
      ],
      "id": "288ec680-7204-401e-91b3-c1ed90da7215",
      "name": "Create a payment",
      "disabled": true
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        1760,
        3120
      ],
      "id": "4c261ef0-4ddf-4698-99aa-181cc5177864",
      "name": "Create a task",
      "disabled": true
    }
  ],
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cal.com Trigger": {
      "main": [
        [
          {
            "node": "Google Sheets3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets3": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cal.com Trigger1": {
      "main": [
        [
          {
            "node": "Google Sheets3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cal.com Trigger2": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Send a message3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message3": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Send a message4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission2": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "Send a message9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Filter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait3": {
      "main": [
        [
          {
            "node": "Send a message6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter1": {
      "main": [
        [
          {
            "node": "Wait3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "node": "Send a message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message2": {
      "main": [
        [
          {
            "node": "Wait4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait4": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Append or update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet1": {
      "main": [
        [
          {
            "node": "Send a message8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Filter2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter2": {
      "main": [
        [
          {
            "node": "Send a message7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message1": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message6": {
      "main": [
        [
          {
            "node": "Google Sheets5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message9": {
      "main": [
        [
          {
            "node": "Google Sheets6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a payment": {
      "main": [
        [
          {
            "node": "Create a task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "On form submission": [
      {
        "json": {
          "First Name": "Jono",
          "Last Name": "Catliff",
          "Email": "jccatliff@gmail.com",
          "Phone": "6041231234",
          "submittedAt": "2025-09-12T09:58:52.544-04:00",
          "formMode": "test"
        }
      }
    ],
    "Cal.com Trigger": [
      {
        "json": {
          "triggerEvent": "BOOKING_CREATED",
          "createdAt": "2025-10-14T21:35:31.308Z",
          "bookerUrl": "https://cal.com",
          "title": "15 Min Meeting between Jono Catliff and Jono Catliff",
          "startTime": "2025-10-16T13:00:00Z",
          "endTime": "2025-10-16T13:15:00Z",
          "additionalNotes": "",
          "type": "15min",
          "description": "",
          "eventTypeId": 2189717,
          "hideCalendarNotes": false,
          "hideCalendarEventDetails": false,
          "hideOrganizerEmail": false,
          "schedulingType": null,
          "seatsPerTimeSlot": null,
          "seatsShowAttendees": true,
          "seatsShowAvailabilityCount": true,
          "customReplyToEmail": null,
          "disableRescheduling": false,
          "disableCancelling": false,
          "organizer": {
            "id": 1460312,
            "name": "Jono Catliff",
            "email": "jccatliff@gmail.com",
            "username": "jono-catliff-vegjw5",
            "timeZone": "America/Toronto",
            "language": {
              "locale": "en"
            },
            "timeFormat": "h:mma",
            "utcOffset": -240
          },
          "attendees": [
            {
              "email": "jccatliff@gmail.com",
              "name": "Jono Catliff",
              "firstName": "",
              "lastName": "",
              "timeZone": "America/Toronto",
              "language": {
                "locale": "en"
              },
              "utcOffset": -240
            }
          ],
          "customInputs": {},
          "responses": {
            "attendeePhoneNumber": {
              "label": "phone_number",
              "isHidden": true
            },
            "name": {
              "label": "your_name",
              "value": "Jono Catliff",
              "isHidden": false
            },
            "email": {
              "label": "email_address",
              "value": "jccatliff@gmail.com",
              "isHidden": false
            },
            "location": {
              "label": "location",
              "value": {
                "optionValue": "",
                "value": "integrations:daily"
              },
              "isHidden": false
            },
            "title": {
              "label": "what_is_this_meeting_about",
              "isHidden": true
            },
            "notes": {
              "label": "additional_notes",
              "isHidden": false
            },
            "guests": {
              "label": "additional_guests",
              "value": [],
              "isHidden": false
            },
            "rescheduleReason": {
              "label": "reason_for_reschedule",
              "isHidden": false
            },
            "code": {
              "label": "Code",
              "value": "123",
              "isHidden": false
            }
          },
          "userFieldsResponses": {
            "code": {
              "label": "Code",
              "value": "123",
              "isHidden": false
            }
          },
          "location": "integrations:daily",
          "destinationCalendar": [
            {
              "id": 543569,
              "integration": "google_calendar",
              "externalId": "jccatliff@gmail.com",
              "primaryEmail": "jccatliff@gmail.com",
              "userId": 1460312,
              "eventTypeId": null,
              "credentialId": 895090,
              "createdAt": "2025-07-07T10:50:48.811Z",
              "updatedAt": null,
              "delegationCredentialId": null,
              "domainWideDelegationCredentialId": null
            }
          ],
          "iCalUID": "bRS2uUTVJAKua6ktjbJmts@Cal.com",
          "iCalSequence": 0,
          "requiresConfirmation": false,
          "oneTimePassword": null,
          "uid": "bRS2uUTVJAKua6ktjbJmts",
          "conferenceData": {
            "createRequest": {
              "requestId": "2db644eb-37a5-581a-99fa-ebe6ce513834"
            }
          },
          "videoCallData": {
            "type": "daily_video",
            "id": "Z3mm611ydcyjbMoyN9uh",
            "password": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyIjoiWjNtbTYxMXlkY3lqYk1veU45dWgiLCJleHAiOjE3NjE4MzAxMDAsIm8iOnRydWUsImVydWkiOmZhbHNlLCJkIjoiYmJkOThhNzEtMTljOS00YmIxLWE1YzUtY2FmMWVjNWJkMTA1IiwiaWF0IjoxNzYwNDc3NzMwfQ.2V1H_uYGPL-aNDn2tCOoDUylYsckkats0cUr6G83RaE",
            "url": "https://meetco.daily.co/Z3mm611ydcyjbMoyN9uh"
          },
          "appsStatus": [
            {
              "appName": "daily-video",
              "type": "daily_video",
              "success": 1,
              "failures": 0,
              "errors": []
            },
            {
              "appName": "google-calendar",
              "type": "google_calendar",
              "success": 1,
              "failures": 0,
              "errors": [],
              "warnings": []
            }
          ],
          "eventTitle": "15 Min Meeting",
          "eventDescription": "",
          "price": 0,
          "currency": "usd",
          "length": 15,
          "bookingId": 11773759,
          "metadata": {
            "videoCallUrl": "https://app.cal.com/video/bRS2uUTVJAKua6ktjbJmts"
          },
          "status": "ACCEPTED"
        }
      }
    ],
    "Cal.com Trigger2": [
      {
        "json": {
          "triggerEvent": "BOOKING_CANCELLED",
          "createdAt": "2025-10-14T21:39:24.670Z",
          "bookerUrl": "https://cal.com",
          "title": "15 Min Meeting between Jono Catliff and Jono Catliff",
          "length": 15,
          "type": "15min",
          "additionalNotes": "",
          "description": "",
          "customInputs": {},
          "eventTypeId": 2189717,
          "userFieldsResponses": {
            "code": {
              "label": "Code",
              "value": "123",
              "isHidden": false
            }
          },
          "responses": {
            "name": {
              "label": "your_name",
              "value": "Jono Catliff",
              "isHidden": false
            },
            "email": {
              "label": "email_address",
              "value": "jccatliff@gmail.com",
              "isHidden": false
            },
            "location": {
              "label": "location",
              "value": {
                "value": "integrations:daily",
                "optionValue": ""
              },
              "isHidden": false
            },
            "title": {
              "label": "what_is_this_meeting_about",
              "isHidden": true
            },
            "notes": {
              "label": "additional_notes",
              "isHidden": false
            },
            "guests": {
              "label": "additional_guests",
              "value": [],
              "isHidden": false
            },
            "rescheduleReason": {
              "label": "reason_for_reschedule",
              "isHidden": false
            },
            "code": {
              "label": "Code",
              "value": "123",
              "isHidden": false
            }
          },
          "startTime": "2025-10-16T13:00:00+00:00",
          "endTime": "2025-10-16T13:15:00+00:00",
          "organizer": {
            "id": 1460312,
            "username": "jono-catliff-vegjw5",
            "email": "jccatliff@gmail.com",
            "name": "Jono Catliff",
            "timeZone": "America/Toronto",
            "timeFormat": "h:mma",
            "language": {
              "locale": "en"
            },
            "utcOffset": -240
          },
          "attendees": [
            {
              "name": "Jono Catliff",
              "email": "jccatliff@gmail.com",
              "timeZone": "America/Toronto",
              "phoneNumber": null,
              "language": {
                "locale": "en"
              },
              "utcOffset": -240
            }
          ],
          "uid": "bRS2uUTVJAKua6ktjbJmts",
          "bookingId": 11773759,
          "location": "integrations:daily",
          "destinationCalendar": [
            {
              "id": 543569,
              "integration": "google_calendar",
              "externalId": "jccatliff@gmail.com",
              "primaryEmail": "jccatliff@gmail.com",
              "userId": 1460312,
              "eventTypeId": null,
              "credentialId": 895090,
              "createdAt": "2025-07-07T10:50:48.811Z",
              "updatedAt": null,
              "delegationCredentialId": null,
              "domainWideDelegationCredentialId": null
            }
          ],
          "cancellationReason": "test",
          "seatsPerTimeSlot": null,
          "seatsShowAttendees": false,
          "iCalUID": "bRS2uUTVJAKua6ktjbJmts@Cal.com",
          "iCalSequence": 1,
          "hideOrganizerEmail": false,
          "customReplyToEmail": null,
          "eventTitle": "15 Min Meeting",
          "eventDescription": null,
          "requiresConfirmation": null,
          "price": null,
          "currency": "usd",
          "status": "CANCELLED",
          "cancelledBy": "jccatliff@gmail.com"
        }
      }
    ],
    "On form submission2": [
      {
        "json": {
          "First Name": "Jono",
          "Last Name": "Catliff",
          "Email": "jccatliff@gmail.com",
          "Company Name": "ABC",
          "Website": "abc.com",
          "Service": "Automation",
          "Price": 1000,
          "Discount": 10,
          "Deadline": "2025-10-25",
          "Problem": "Need help with SEO",
          "Solution": "Build out an SEO blog system",
          "Upsells": [
            "Ads"
          ],
          "submittedAt": "2025-10-15T18:37:53.962-04:00",
          "formMode": "test"
        }
      }
    ],
    "Webhook": [
      {
        "json": {
          "id": "mULPf4zhFugGE5iYdyyn37",
          "name": "John Smith Agreement | ABC Company",
          "date_created": "2025-10-17T20:42:47.119Z",
          "date_modified": "2025-10-19T18:42:45.131Z",
          "expiration_date": "2025-10-24T20:44:36.361Z",
          "autonumbering_sequence_name": null,
          "created_by": {
            "id": "Kbj84DK8xkYLn2wsadENeS",
            "email": "jono@gmail.com",
            "first_name": "Jono",
            "last_name": "Catliff",
            "avatar": null,
            "membership_id": "hNmV4STTJY73zJ25b6DfiD"
          },
          "tokens": [
            {
              "name": "Client.Company",
              "value": "Automatable"
            },
            {
              "name": "Client.FirstName",
              "value": "Jono"
            },
            {
              "name": "Client.LastName",
              "value": "Catliff"
            },
            {
              "name": "Client.Problem",
              "value": "Need help with SEO"
            },
            {
              "name": "Client.Solution",
              "value": "Build out an SEO blog system"
            },
            {
              "name": "Client.Deadline",
              "value": "10/15/2025"
            },
            {
              "name": "Client.Invoice",
              "value": "INV-002269"
            },
            {
              "name": "Sender.Company",
              "value": "Automatable"
            },
            {
              "name": "Sender.FirstName",
              "value": "Jono"
            },
            {
              "name": "Sender.LastName",
              "value": "Catliff"
            }
          ],
          "products": [],
          "pricing": {
            "tables": [
              {
                "name": "Pricing Table 1",
                "id": "5fd91bc1-5a95-438b-afba-1c9fa47c031f",
                "total": "1729.99",
                "is_included_in_total": true,
                "summary": {
                  "subtotal": "2438.01",
                  "total": "1729.99",
                  "discount": "790.40",
                  "tax": "82.38",
                  "fee": "0.00"
                },
                "columns": [
                  {
                    "header": "NAME",
                    "name": "Name",
                    "merge_name": "Name",
                    "hidden": false
                  },
                  {
                    "header": "NAME",
                    "name": "Description",
                    "merge_name": "Description",
                    "hidden": false
                  },
                  {
                    "header": "NAME",
                    "name": "Images",
                    "merge_name": null,
                    "hidden": false
                  },
                  {
                    "header": "QTY",
                    "name": "QTY",
                    "merge_name": "QTY",
                    "hidden": false
                  },
                  {
                    "header": "PRICE",
                    "name": "Price",
                    "merge_name": "Price",
                    "hidden": false
                  },
                  {
                    "header": "SUBTOTAL",
                    "name": "Subtotal",
                    "merge_name": "Subtotal",
                    "hidden": false
                  },
                  {
                    "header": null,
                    "name": "Text",
                    "merge_name": "Text",
                    "hidden": true
                  },
                  {
                    "header": null,
                    "name": "Tax",
                    "merge_name": "Tax",
                    "hidden": true
                  },
                  {
                    "header": null,
                    "name": "SKU",
                    "merge_name": "SKU",
                    "hidden": true
                  },
                  {
                    "header": null,
                    "name": "Cost",
                    "merge_name": null,
                    "hidden": true
                  },
                  {
                    "header": null,
                    "name": "Tax1",
                    "merge_name": "Tax1",
                    "hidden": true
                  },
                  {
                    "header": null,
                    "name": "Discount",
                    "merge_name": "Discount",
                    "hidden": true
                  },
                  {
                    "header": null,
                    "name": "Fee",
                    "merge_name": "Fee",
                    "hidden": true
                  }
                ],
                "currency": "CAD"
              }
            ],
            "quotes": [],
            "total": "1729.99"
          },
          "tags": [],
          "status": "document.paid",
          "recipients": [
            {
              "type": "recipient",
              "id": "cNFBdG6M5d79EGL4GxJQxn",
              "first_name": "Jono",
              "last_name": "Catliff",
              "email": "jono@gmail.com",
              "phone": "",
              "recipient_type": "signer",
              "has_completed": true,
              "role": "",
              "roles": [
                "Company",
                "Sender"
              ],
              "signing_order": 1,
              "contact_id": "XrBU44fZaobNEoBp2R6fNi",
              "shared_link": ""
            },
            {
              "type": "recipient",
              "id": "zTcYB3z5TH2EDUAVmuPSf3",
              "first_name": "Jono",
              "last_name": "Catliff",
              "email": "jono@gmail.com",
              "recipient_type": "signer",
              "has_completed": true,
              "role": "",
              "roles": [
                "Client"
              ],
              "signing_order": 2,
              "contact_id": "yafqT9AcEadWgNbzsgPW3V",
              "shared_link": ""
            }
          ],
          "grand_total": {
            "amount": "0.00",
            "currency": "USD"
          },
          "template": {
            "id": "uBUxzakbHvCmfdXEBzLviT",
            "name": "Celebrations Canada Agreement"
          },
          "version": "2",
          "linked_objects": [],
          "event_type": "document_state_changed",
          "token_values": {
            "Client.Company": "",
            "Client.FirstName": "Jono",
            "Client.LastName": "Catliff",
            "Invoice.DueDate": "October 24 2025",
            "Invoice.No": "INV-002269",
            "Invoice.Terms": "Net 15"
          }
        }
      }
    ],
    "Webhook1": [
      {
        "json": {
          "id": "mULPf4zhFugGE5iYdyyn37",
          "name": "John Smith Agreement | ABC Company",
          "date_created": "2025-10-17T20:42:47.119Z",
          "date_modified": "2025-10-19T18:42:45.131Z",
          "expiration_date": "2025-10-24T20:44:36.361Z",
          "autonumbering_sequence_name": null,
          "created_by": {
            "id": "Kbj84DK8xkYLn2wsadENeS",
            "email": "jono@gmail.com",
            "first_name": "Jono",
            "last_name": "Catliff",
            "avatar": null,
            "membership_id": "hNmV4STTJY73zJ25b6DfiD"
          },
          "tokens": [
            {
              "name": "Client.Company",
              "value": "Automatable"
            },
            {
              "name": "Client.FirstName",
              "value": "Jono"
            },
            {
              "name": "Client.LastName",
              "value": "Catliff"
            },
            {
              "name": "Client.Problem",
              "value": "Need help with SEO"
            },
            {
              "name": "Client.Solution",
              "value": "Build out an SEO blog system"
            },
            {
              "name": "Client.Deadline",
              "value": "10/15/2025"
            },
            {
              "name": "Client.Invoice",
              "value": "INV-002269"
            },
            {
              "name": "Sender.Company",
              "value": "Automatable"
            },
            {
              "name": "Sender.FirstName",
              "value": "Jono"
            },
            {
              "name": "Sender.LastName",
              "value": "Catliff"
            }
          ],
          "products": [],
          "pricing": {
            "tables": [
              {
                "name": "Pricing Table 1",
                "id": "5fd91bc1-5a95-438b-afba-1c9fa47c031f",
                "total": "1729.99",
                "is_included_in_total": true,
                "summary": {
                  "subtotal": "2438.01",
                  "total": "1729.99",
                  "discount": "790.40",
                  "tax": "82.38",
                  "fee": "0.00"
                },
                "columns": [
                  {
                    "header": "NAME",
                    "name": "Name",
                    "merge_name": "Name",
                    "hidden": false
                  },
                  {
                    "header": "NAME",
                    "name": "Description",
                    "merge_name": "Description",
                    "hidden": false
                  },
                  {
                    "header": "NAME",
                    "name": "Images",
                    "merge_name": null,
                    "hidden": false
                  },
                  {
                    "header": "QTY",
                    "name": "QTY",
                    "merge_name": "QTY",
                    "hidden": false
                  },
                  {
                    "header": "PRICE",
                    "name": "Price",
                    "merge_name": "Price",
                    "hidden": false
                  },
                  {
                    "header": "SUBTOTAL",
                    "name": "Subtotal",
                    "merge_name": "Subtotal",
                    "hidden": false
                  },
                  {
                    "header": null,
                    "name": "Text",
                    "merge_name": "Text",
                    "hidden": true
                  },
                  {
                    "header": null,
                    "name": "Tax",
                    "merge_name": "Tax",
                    "hidden": true
                  },
                  {
                    "header": null,
                    "name": "SKU",
                    "merge_name": "SKU",
                    "hidden": true
                  },
                  {
                    "header": null,
                    "name": "Cost",
                    "merge_name": null,
                    "hidden": true
                  },
                  {
                    "header": null,
                    "name": "Tax1",
                    "merge_name": "Tax1",
                    "hidden": true
                  },
                  {
                    "header": null,
                    "name": "Discount",
                    "merge_name": "Discount",
                    "hidden": true
                  },
                  {
                    "header": null,
                    "name": "Fee",
                    "merge_name": "Fee",
                    "hidden": true
                  }
                ],
                "currency": "CAD"
              }
            ],
            "quotes": [],
            "total": "1729.99"
          },
          "tags": [],
          "status": "document.paid",
          "recipients": [
            {
              "type": "recipient",
              "id": "cNFBdG6M5d79EGL4GxJQxn",
              "first_name": "Jono",
              "last_name": "Catliff",
              "email": "jono@gmail.com",
              "phone": "",
              "recipient_type": "signer",
              "has_completed": true,
              "role": "",
              "roles": [
                "Company",
                "Sender"
              ],
              "signing_order": 1,
              "contact_id": "XrBU44fZaobNEoBp2R6fNi",
              "shared_link": ""
            },
            {
              "type": "recipient",
              "id": "zTcYB3z5TH2EDUAVmuPSf3",
              "first_name": "Jono",
              "last_name": "Catliff",
              "email": "jono@gmail.com",
              "recipient_type": "signer",
              "has_completed": true,
              "role": "",
              "roles": [
                "Client"
              ],
              "signing_order": 2,
              "contact_id": "yafqT9AcEadWgNbzsgPW3V",
              "shared_link": ""
            }
          ],
          "grand_total": {
            "amount": "0.00",
            "currency": "USD"
          },
          "template": {
            "id": "uBUxzakbHvCmfdXEBzLviT",
            "name": "Celebrations Canada Agreement"
          },
          "version": "2",
          "linked_objects": [],
          "event_type": "document_state_changed",
          "token_values": {
            "Client.Company": "",
            "Client.FirstName": "Jono",
            "Client.LastName": "Catliff",
            "Invoice.DueDate": "October 24 2025",
            "Invoice.No": "INV-002269",
            "Invoice.Terms": "Net 15"
          }
        }
      }
    ],
    "Message a model": [
      {
        "json": {
          "index": 0,
          "message": {
            "role": "assistant",
            "content": {
              "problem": "ABC lacks SEO: low organic traffic, poor keyword coverage, sparse content.",
              "solution": "Create an SEO blog system: keyword research, pillar content, optimized posts, tech fixes, calendar, analytics to grow organic leads by 10/25/2025."
            },
            "refusal": null,
            "annotations": []
          },
          "finish_reason": "stop"
        }
      }
    ]
  },
  "versionId": "dc23d98f-073e-4def-a669-e326fb636fa9",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-11-14T15:56:10.082Z",
      "updatedAt": "2025-11-14T15:56:10.082Z",
      "role": "workflow:owner",
      "workflowId": "02yMUlEXTQhvyGaU",
      "projectId": "Hsc2LcKTpV0xRSJz"
    }
  ],
  "tags": []
}